
<% content_for :top do %>
<%= @post.title %>
<% end %>

<div class="col-md-3 col-sm-3">
    <img class="img-thumbnail img-responsive photo"><%=  %></img>

</div>
<div class="col-md-9 col-sm-9">
<div class="post-preview">
  <h1 class="post-title">
    <%= @post.title %>
  </h1>
  <h3 class="post-body">
    <%= @post.body %>
  </h3>
  <h4 class="post-subtitle">
    <%= @post.summary %>
  </h4>
</a>
<p class="post-meta">Posted by <a><%= link_to("#{}", about_path) %></a></p>
</div>
</div>
<hr/>
